@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --foretitle-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-redHatDisplay);
}

h2 {
  color: rgb(var(--foretitle-rgb));
}

.sectitleWhite {
  color: rgb(var(--foreground-rgb));
}

h1,
h2,
h3,
h4 ,
.urbanist{
  font-family: var(--font-urbanist);
}

.cousine {
  font-family: var(--font-cousine);
}

.offerGradient {
  background: linear-gradient(to bottom, #f5ecf6 100%, #f5f3f5 0%);
}

h2.purple {
  color: #8247e4;
}

.text-primary-pink-1 {
  color: #E60479;
}

.mobile-hero-banner {
  background-image: url(../../public/images/mobile/mobile-hero-banner.png);
}
.mobile-viewguide {
  background-image: url(../../public/images/viewguide-mobile.png);
}

.container {
  max-width: 1600px;
}
